<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClonedRepo" value="g:\\"/>
    <add key="PatcherFilePath" value="g:\xroot\bldtools\s3dpatcher.pat"/>
    <add key="Commonfiles" value="oaidl.idl,ocidl.idl,atlbase.h,atlcom.h,statreg.h,wtypes.idl,comdef.h,math.h,initguid.h,objbase.h,share.h,olectl.h,oledb.h,OLEDBERR.h,activscp.h,adoint.h,afxdisp.h,afxres.h,afxwin.h,assert.h,ATLBASE.h,atlcomcli.h,atlconv.h,atlctl.h,atldbcli.h,atldbsch.h,atlpath.h,atlsafe.h,atlstr.h,COMDEF.H,comip.h,comsvcs.h,Comutil.h,crtdbg.h,ctype.h,float.h,guiddef.h,INITGUID.H,inttypes.h,limits.h,locale.h,malloc.h,Math.h,msxml6.h,oaidl.h,Objbase.h,ocidl.h,ole2.h"/>
  </appSettings>
</configuration>